server/dpm/dpm-sdk/src/main/resources/cxf/DpmToAppService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.deppon.com/dpm/webService/DpmToAppService"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DpmToAppService"
	targetNamespace="http://www.deppon.com/dpm/webService/DpmToAppService"
	xmlns:tns_domain="http://www.deppon.com/dpm/webService/domain/"
	xmlns:tns_header="http://www.deppon.com/esb/header"
	xmlns:tns_exception="http://www.deppon.com/esb/exception">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.deppon.com/dpm/webService/domain/">
			<xsd:include schemaLocation="DPM_APP.xsd" />
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/header">
			<xsd:include schemaLocation="ESBHeader.xsd" />
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/exception">
			<xsd:include schemaLocation="CommonException.xsd" />
		</xsd:schema>
	</wsdl:types>
        	
	<wsdl:message name="esbHeader">
		<wsdl:part name="header" element="tns_header:esbHeader"  />
	</wsdl:message>
	
	<wsdl:message name="commException">
		<wsdl:part name="exception" element="tns_exception:commonExceptionInfo" />
	</wsdl:message>
	
    <wsdl:message name="queryWorkflowItemsRequest">
    	<wsdl:part name="request" element="tns_domain:queryWorkflowItemsRequest"/>
    	<wsdl:part name="esbHeader" element="tns_header:esbHeader" />
    </wsdl:message>
	
    <wsdl:message name="queryWorkflowItemsResponse">
    	<wsdl:part name="response" element="tns_domain:queryWorkflowItemsResponse"/>
    	<wsdl:part name="esbHeader" element="tns_header:esbHeader" />
    </wsdl:message>
	
    <wsdl:portType name="DpmToAppService">
		<wsdl:operation name="queryWorkflowItems">
			<wsdl:input message="tns:queryWorkflowItemsRequest" />
			<wsdl:output message="tns:queryWorkflowItemsResponse" />
			<wsdl:fault name="commException" message="tns:commException" />
		</wsdl:operation>
    </wsdl:portType>
		<wsdl:binding name="NewBinding" type="tns:DpmToAppService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="queryWorkflowItems">
			<soap:operation
				soapAction="http://www.deppon.com/dpm/webService/DpmToAppService/queryWorkflowItems" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader" message="tns:queryWorkflowItemsRequest"/>
				<soap:body use="literal" parts="request"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader"  message="tns:queryWorkflowItemsResponse"/>
				<soap:body use="literal" parts="response"/>
			</wsdl:output>
			<wsdl:fault name="commException">
				<soap:fault use="literal" name="commException" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="DpmToAppService">
		<wsdl:port binding="tns:NewBinding" name="DpmToAppService">
			<soap:address location="http://www.deppon.com/dpm/webService/DpmToAppService" />
		</wsdl:port>
	</wsdl:service></wsdl:definitions>